{% extends "layout/base.html.j2" %}
{% block body %}

<div class="row">
	<div class="col">
		<p class="my-5"><img id="logo" src="/images/logo.png" alt="Das Logo von Lazic Transport"></p>
		<p class="fs-3">{{ subtitle }}</p>
	</div>
</div>

<div class="row">
	<div class="col">
		{% include "layout/card_group.html.j2" %}
		<p class="fs-5 mt-5"></p>
	</div>
</div>

<div class="row mt-4">
	<div class="col">
		<p class="fs-2">Haben Sie Fragen?</p>
		<p class="fs-3">Dann kontaktieren Sie uns!</p>
	</div>
</div>

<div class="row mb-5">
{% for symbol, label, link in contact_infos %}
	<div class="col-sm-6 col-md mb-3">
		<a href="{{ link }}" target="_new" aria-label="{{ label }}">
			<i class="bi link-symbol {{ symbol }}"></i>
		</a>
	</div>
{% endfor %}
</div>

{% endblock %}
