li.list-group-item {
  color: black;
  background-color: white;
}

.card.img {
  width: 100%;
  max-heigth: auto;
}

i.enumeration-symbol {
  font-size: 2rem;
  margin-right: 0.5rem;
}

li.enumeration {
  display: flex;
  align-items: center;
}

i.link-symbol {
  font-size: 4rem;
  color: cornflowerblue;
}

a i.bi:hover {
  color: #307aff;
  transition: 0.5s;
}
